# Python virtual environment
/venv/

# Flask-specific
*.pyc
*.pyo
*.pyd
__pycache__/
instance/

# Firebase Admin SDK Key
firebase-key.json
firebase_config.json

# Log and database files
*.log
*.sqlite3

# IDE files
.vscode/
.idea/

# macOS specific
.DS_Store

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# spotify API
tokens.json

app-example
